@page
@model Testnt.IdentityServer.Areas.Tenant.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Tenant Account";
}

<!-- main section column -->
<div class="column">
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="IsEnabled">IsEnabled</abbr></th>
                <th><abbr title="Id">Id</abbr></th>
                <th><abbr title="LastLogin">Last Login</abbr></th>
                <th><abbr title="Email">Email</abbr></th>
                <th><abbr title="TenantId">Tenant Id</abbr></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
            <tr>
                <td>@user.IsEnabled</td>
                <td>@user.Id</td>
                <td>@user.LastLogin</td>
                <td>@user.Email</td>
                <td>@user.TenantId</td>
            </tr>
            }

        </tbody>
    </table>
</div>
<!-- main section column end -->